body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: #f4dec7;
}

.calc {
	width: 400px;
	height: 500px;
	border-radius: 20px;
	background: #324b45;
	color: #fff;
	font-family: 'Arial';
	padding: 20px;
	box-shadow: 0 0 15px #9aa88f;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.calc-screen {
	height: 125px;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	overflow: hidden;
}

.calc-screen p {
	text-align: right;
	font-size: 3.5rem;

	margin-bottom: 5px;
}

.buttons {
	display: grid;
	grid-template: repeat(5, minmax(60px, auto)) / repeat(4, minmax(60px, auto));
	grid-gap: 10px;
}

.buttons button {
	border-radius: 30%;
	font-size: 1.5rem;
	user-select: none;

	border-width: 0;
}

button:hover {
	filter: brightness(110%);
}

button:active {
	filter: brightness(90%);
}

#zero {
	grid-column: 1/3;
	border-radius: 23px;
}

button.bg-orange {
	background: #e76c44;

	border: 1px solid #f4e0cc;

	color: #faf3e9;
}

.number,
#separator {
	background: #f4dec7;
	color: #072108;
}

.minor-operations {
	background: #be3d36;

	color: #faf3e9;
}
